In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [51]:
data = pd.read_excel("data/capstone-project.xlsx")

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7151 entries, 0 to 7150
Data columns (total 16 columns):
id                      7151 non-null int64
member_id               7151 non-null int64
term                    7151 non-null object
purpose                 7151 non-null object
loan_status             7151 non-null object
loan_amnt               7151 non-null int64
int_rate                7151 non-null float64
installment             7151 non-null float64
home_ownership          7151 non-null object
annual_inc              7151 non-null float64
verification_status     7151 non-null object
revol_bal               7151 non-null int64
revol_util              7148 non-null float64
total_acc               7151 non-null int64
acc_open_past_24mths    7151 non-null int64
total_pymnt             7151 non-null float64
dtypes: float64(5), int64(6), object(5)
memory usage: 893.9+ KB

In [53]:
data.describe()

,id,member_id,loan_amnt,int_rate,installment,annual_inc,revol_bal,revol_util,total_acc,acc_open_past_24mths,total_pymnt
count,7.151000e+03,7.151000e+03,7151.000000,7151.000000,7151.000000,7.151000e+03,7151.000000,7148.000000,7151.000000,7151.000000,7151.000000
mean,5.106186e+07,5.453440e+07,13579.373514,10.431779,440.715538,7.624496e+04,18807.828695,53.768145,25.880856,4.894840,12830.463838
std,9.419570e+06,1.003211e+07,8148.555935,3.316630,266.743864,5.456859e+04,26051.747852,22.725538,12.494253,3.237648,8946.447110
min,5.800840e+05,7.457430e+05,1000.000000,5.320000,30.850000,8.000000e+03,0.000000,0.000000,4.000000,0.000000,0.000000
25%,4.229390e+07,4.525578e+07,7500.000000,7.890000,243.130000,4.500000e+04,7328.500000,NaN,17.000000,3.000000,6162.895000
50%,5.044621e+07,5.381612e+07,11425.000000,9.990000,367.190000,6.500000e+04,12781.000000,NaN,24.000000,4.000000,10605.060000
75%,5.923142e+07,6.311782e+07,18600.000000,12.690000,609.360000,9.300000e+04,22059.000000,NaN,33.000000,7.000000,17410.045000
max,6.861588e+07,7.351869e+07,35000.000000,25.800000,1309.490000,1.900000e+06,838698.000000,113.100000,100.000000,25.000000,44465.780009

In [54]:
len(data.member_id.unique())

7151

In [55]:
len(data.id.unique())

7151

In [56]:
data.drop(["term", "purpose", "member_id"], axis = 1, inplace=True)

In [57]:
data.dropna(inplace=True)

In [58]:
data.head()

,id,loan_status,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,revol_bal,revol_util,total_acc,acc_open_past_24mths,total_pymnt
0,62286683,Fully Paid,24000,7.89,750.86,MORTGAGE,237500.0,Source Verified,28279,36.9,25,5,24948.450004
1,46314315,Fully Paid,8000,6.68,245.85,RENT,41000.0,Not Verified,24377,51.0,29,2,8351.630000
2,51317198,Fully Paid,12175,9.17,388.13,MORTGAGE,100000.0,Not Verified,21329,64.6,17,3,13205.910000
3,42984750,Charged Off,6400,6.92,197.38,RENT,41900.0,Source Verified,14936,73.2,15,1,3550.380000
4,42181434,Fully Paid,12600,6.68,387.22,OWN,73800.0,Not Verified,9904,20.7,25,4,13125.770000

In [59]:
data.verification_status = data.verification_status.apply(lambda x: x.replace("Source Verified", "Verified"))

In [60]:
data.verification_status = data.verification_status.apply(lambda x: 1 if x == "Verified" else 0)

In [62]:
data.loan_status = data.loan_status.apply(lambda x: 1 if x == "Fully Paid" else 0)

In [64]:
data = pd.get_dummies(data=data, drop_first=True)

In [65]:
data.head()

,id,loan_status,loan_amnt,int_rate,installment,annual_inc,verification_status,revol_bal,revol_util,total_acc,acc_open_past_24mths,total_pymnt,home_ownership_OWN,home_ownership_RENT
0,62286683,1,24000,7.89,750.86,237500.0,1,28279,36.9,25,5,24948.450004,0.0,0.0
1,46314315,1,8000,6.68,245.85,41000.0,0,24377,51.0,29,2,8351.630000,0.0,1.0
2,51317198,1,12175,9.17,388.13,100000.0,0,21329,64.6,17,3,13205.910000,0.0,0.0
3,42984750,0,6400,6.92,197.38,41900.0,1,14936,73.2,15,1,3550.380000,0.0,1.0
4,42181434,1,12600,6.68,387.22,73800.0,0,9904,20.7,25,4,13125.770000,1.0,0.0

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7148 entries, 0 to 7150
Data columns (total 14 columns):
id                      7148 non-null int64
loan_status             7148 non-null int64
loan_amnt               7148 non-null int64
int_rate                7148 non-null float64
installment             7148 non-null float64
annual_inc              7148 non-null float64
verification_status     7148 non-null int64
revol_bal               7148 non-null int64
revol_util              7148 non-null float64
total_acc               7148 non-null int64
acc_open_past_24mths    7148 non-null int64
total_pymnt             7148 non-null float64
home_ownership_OWN      7148 non-null float64
home_ownership_RENT     7148 non-null float64
dtypes: float64(7), int64(7)
memory usage: 837.7 KB

In [67]:
data.to_csv("data/clean_capstone_data.csv", i)